{% extends "base.html" %}

{% block body %}

        <!-- main-area -->
        <main class="main-content">
            <div class="noise-bg" data-background="/static/img/bg/noise_bg.png"></div>
            <div class="main-shape" data-background="/static/img/images/main_shape.png"></div>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">About <span>Cat.ai</span></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- about-area -->
            <section class="inner-about-area pb-115">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner-about-img">
                                <img src="/static/img/images/inner_about_img.png" alt="">
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="inner-about-content">
                                <h2 class="title">Use / Deploy Deep Learning Model with Cat.AI</h2>
                                <div class="content-bottom">
                                    <p>At Cat.AI, we provide efficient APIs to assist in the deployment of your own NLP models. At the same time, we support the direct use of deployed models in webapp for problem-solving. Whether your needs, our platform helps you save time, reduce costs, and deliver excellent results. Let us show you how our technology can achieve your goals.</p>
                                    <ul class="list-wrap">
                                        <li><i class="far fa-check"></i>Fast & Easy Deployment APIs</li>
                                        <li><i class="far fa-check"></i>Convenient & Efficient Models for Use</li>
                                        <li><i class="far fa-check"></i>Lightweight and Low Code Model</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->

            <!-- team-area -->
            <section class="team-area pb-100">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="section-title-four text-center mb-60">
                                <h2 class="title">Core Members</h2>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-center">
                        <div class="col-lg-6 col-md-8">
                            <div class="team-item">
                                <div class="team-thumb">
                                    <img src="/static/img/team/team_img01.jpg" alt="">
                                    <div class="team-hidden-content">
                                        <h4 class="title">Ruikun Wu</h4>
                                        <p>A UCL postgraduate student who was responsible for the entire build of the website.</p>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <div class="team-info">
                                        <h4 class="title">Ruikun Wu</h4>
                                        <span>Project Header / CEO</span>
                                    </div>
                                    <div class="team-social">
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-8">
                            <div class="team-item">
                                <div class="team-thumb">
                                    <img src="/static/img/team/team_img02.jpg" alt="">
                                    <div class="team-hidden-content">
                                        <h4 class="title">Jiaxuan Han</h4>
                                        <p>A UCL postgraduate student who was responsible for the entire build of the website.</p>
                                    </div>
                                </div>
                                <div class="team-content">
                                    <div class="team-info">
                                        <h4 class="title">Jiaxuan Han</h4>
                                        <span>Project Header / CEO</span>
                                    </div>
                                    <div class="team-social">
                                        <ul class="list-wrap">
                                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                            <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- team-area-end -->

            <!-- counter-area -->
            <section class="counter-area-three pb-130">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-7">
                            <div class="counter-content">
                                <div class="section-title-four mb-40">
                                    <h2 class="title">Cat.AI is the best choice</h2>
                                </div>
                                <p>By using Cat.AI, you could efficiently deploy your models and test them directly. Let us start this amazing journey!</p>
                            </div>
                        </div>
                        <div class="col-lg-5">
                            <div class="counter-item-wrap-three">
                                <ul class="list-wrap">
                                    <li>
                                        <div class="counter-item-three">
                                            <h2 class="count"><span class="odometer" data-count="90"></span>K</h2>
                                            <p>Our Top Clients</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="counter-item-three">
                                            <h2 class="count"><span class="odometer" data-count="10"></span>K</h2>
                                            <p>Deployed Models</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="counter-item-three">
                                            <h2 class="count"><span class="odometer" data-count="30"></span></h2>
                                            <p>Powerful Deployment APIs</p>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="counter-item-three">
                                            <h2 class="count"><span class="odometer" data-count="50"></span>K</h2>
                                            <p>Likes & Comments</p>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- counter-area-end -->

        </main>
        <!-- main-area-end -->

{% endblock %}