{% extends "base.html" %}
{% block title %} Sub.DL - Model Detail {% endblock %}
{% block body %}

        <!-- main-area -->
        <main class="main-content">
            <div class="noise-bg" data-background="/static/img/bg/noise_bg.png"></div>
            <div class="main-shape" data-background="/static/img/images/main_shape.png"></div>

            <!-- breadcrumb-area -->
            <section class="breadcrumb-area">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="breadcrumb-content">
                                <h2 class="title">Model Details</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->

            <!-- blog-details-area -->
            <section class="blog-details-area pb-150">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="blog-details-wrap">
                                <div class="blog-details-content">
                                    <span class="date">March 24, 2023</span>
                                    <h2 class="title">Model 1</h2>
                                    <p class="info-one">Model 1's background</p>
                                    <span class="list-title">Here are some requirements to test Model 1:</span>
                                    <ul class="list-wrap">
                                        <li><i class="far fa-check"></i>For what task</li>
                                        <li><i class="far fa-check"></i>Input is what</li>
                                        <li><i class="far fa-check"></i>Outcome is what</li>
                                    </ul>
                                </div>
                            </div>
                            <div class="blog-input-wrap">
                                <h3 class="comment-reply-title">Please upload the input data</h3>
                                <form class="comment-form" action="#">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="form-grp">
                                                <input type="text" id="input" value="Your input here...">
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">Submit the input</button>
                                </form>
                                <p><br></p>
                            </div>
                            <div class="outcome-wrap">
                                <h2 class="title">Model outcome</h2>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="blog-grid-item">
                                            <div class="blog-grid-content">
                                                <span class="text">Here is the result...</span>
                                                <h2 class="title">The predicted outcome of model is</h2>
                                                <p>The predicted accuracy is.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comments-wrap">
                                <h4 class="comments-wrap-title">Comments (02)</h4>
                                <div class="latest-comments">
                                    <ul class="list-wrap">
                                        <li>
                                            <div class="comments-box">
                                                <div class="comments-avatar">
                                                    <img src="/static/img/blog/comment_avatar01.png" alt="">
                                                </div>
                                                <div class="comments-text">
                                                    <div class="avatar-name">
                                                        <h6 class="name">
                                                            by Benjamin / <span class="date">September 28, 2023</span>
                                                        </h6>
                                                    </div>
                                                    <p>This model is good. It successfully helps me solve the problem.</p>
                                                    <ul class="list-wrap">
                                                        <li class="like"><a href="#">like</a></li>
                                                        <li class="reply"><a href="#">reply</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <ul class="list-wrap children">
                                                <li>
                                                    <div class="comments-box">
                                                        <div class="comments-avatar">
                                                            <img src="/static/img/blog/comment_avatar02.png" alt="">
                                                        </div>
                                                        <div class="comments-text">
                                                            <div class="avatar-name">
                                                                <h6 class="name">
                                                                    by Thomas / <span class="date">September 30, 2023</span>
                                                                </h6>
                                                            </div>
                                                            <p>Prediction is accuracy but the model spends some time to predict.</p>
                                                            <ul class="list-wrap">
                                                                <li class="like"><a href="#">like</a></li>
                                                                <li class="reply"><a href="#">reply</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="comment-respond">
                                <h3 class="comment-reply-title">Leave a comment</h3>
                                <form class="comment-form" action="#">
                                    <div class="form-grp">
                                        <label for="message">Comment *</label>
                                        <textarea name="message" id="message"></textarea>
                                    </div>
                                    <button type="submit" class="btn">Submit the comment</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- blog-details-area-end -->

        </main>
        <!-- main-area-end -->
{% endblock %}