{% extends "base.html" %}
{% block title %} Sub.DL - Profile {% endblock %}
{% block body %}
    <!-- main-area -->
    <!-- CSS -->
    <style>
        .custom-file-upload {
            display: inline-block;
        }

        .file-input {
            display: none; /* 隐藏原生的文件上传输入框 */
        }

        .file-upload-button {
            padding: 10px 20px;
            background-color: #3939c4;
            color: #fff;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }
    </style>

    <main class="main-content fix">
        <section class="mt-150">
            <div class="container custom-container">
                <div class="row" style="display: flex; justify-content: center;">
                    <h2>Personal Information</h2>
                    <div class="col-lg-5 col-md-7">
                        <!-- Profile Form -->
                        {% csrf_token %}
                        <div style="display: flex; justify-content: space-between;">
                            <div>
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name" class="form-control"
                                       value="{{ user.username }}" disabled>
                            </div>
                            <div>
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" class="form-control"
                                       value="{{ user.email }}" disabled>
                            </div>
                        </div>

                        <br>
                        <div style="display: flex; justify-content: center;">
                            <button class="btn btn-primary edit">Edit</button>
                            <button class="btn btn-primary save" style="display:none;">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="mt-150">
            <div class="container custom-container">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="text-classification-tab-pane" role="tabpanel"
                         aria-labelledby="text-classification-tab" tabindex="0">
                        <div class="blog-item-wrap">
                            <div class="row justify-content-center">
                                <h2>Upload Model</h2>
                                {% if not my_model %}
                                    <div style="text-align: center; height: 200px; font-size: 30px; margin-top: 85px">
                                        You have not post any models!
                                    </div>
                                {% endif %}
                                {% for item in my_model %}
                                    <div class="col-lg-4 col-md-6 col-sm-10">
                                        <div class="blog-grid-item">
{#                                            <div class="blog-grid-thumb">#}
{#                                                <a href="/model-detail/?param={{ item.model_id }}"><img#}
{#                                                        src="/static/img/blog/blog_img0{{ item.img_id }}.jpg"#}
{#                                                        alt=""></a>#}
{#                                            </div>#}
                                            <div class="blog-grid-content">
                                                <span class="date">{{ item.upload_date }}</span>
                                                <h2 class="title"
                                                    style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">
                                                    <a href="/model-detail/?param={{ item.model_id }}">{{ item.model_name }}</a>
                                                </h2>
                                                <p>This model is generally used for {{ item.task_des }}.</p>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <!-- main-area-end -->
{% endblock %}

{% block script %}
    <script>
        let username = document.getElementById('name');
        let email = document.getElementById('email');
        let csrfmiddlewaretoken = $('input[name=csrfmiddlewaretoken]').val();
        console.log("1")
        $(function () {
                $("input").prop('disabled', true)

                $(".edit").click(function () {
                    $('html').addClass('active');
                    $('input').prop('disabled', false);
                    $(this).hide();
                    $(".save").show();
                });

                $('.save').click(function () {
                    saveProfile()
                    $('html').removeClass('active');
                    $('input').prop('disabled', true);
                    $(this).hide();
                    $(".edit").show();
                });


                function saveProfile() {
                    $.ajax({
                        type: 'post',
                        url: '/modify_profile/',
                        data: {
                            'username': username.value, 'email': email.value, 'csrfmiddlewaretoken': csrfmiddlewaretoken
                        },
                        success: function (response) {
                            if (response == 0) {
                                $('#modal-warning').modal('show')
                                $('#msg_content').html("Username has been used!");
                            } else if (response == 1) {
                                $('#modal-warning').modal('show')
                                $('#msg_content').html("Saved successfully");
                            }
                        },
                        error: function () {
                            $('#modal-warning').modal('show')
                            $('#msg_content').html("Connection error");
                        }
                    });
                }
            }
        );
    </script>
{% endblock %}