{% extends "base_login.html" %}

{% block body %}

        <!-- main-area -->
        <main class="main-content">
            <div class="noise-bg" data-background="/static/img/bg/noise_bg.png"></div>
            <div class="main-shape" data-background="/static/img/images/main_shape.png"></div>

            <!-- login-area -->
            <section class="login-area">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-10">
                            <div class="login-content">
                                <h3 class="title">Signup your account</h3>
                                <span>👋 Welcome join! Please enter your details.</span>
                                <form action="#">
                                    <div class="form-grp">
                                        <label for="word">Your Name</label>
                                        <input type="password" id="word">
                                    </div>
                                    <div class="form-grp">
                                        <label for="email">Your Email</label>
                                        <input type="email" id="email">
                                    </div>
                                    <div class="form-grp">
                                        <label for="word">Password</label>
                                        <input type="password" id="word">
                                    </div>
                                    <div class="form-grp">
                                        <label for="word">Repeat Your Password</label>
                                        <input type="password" id="word">
                                    </div>
{#                                    <div class="password-wrap">#}
{#                                        <div class="form-grp checkbox-grp">#}
{#                                            <input type="checkbox" id="checkbox" class="form-check-input">#}
{#                                            <label for="checkbox">Remember for 30 days</label>#}
{#                                        </div>#}
{#                                        <button type="reset">Forgot Password</button>#}
{#                                    </div>#}
                                    <button type="submit" class="sine-btn">sign up</button>
                                    <a href="/login">Already have an account? Sign in</a>
                                </form>
                            </div>
                        </div>
                        <div class="col-lg-7">
                            <div class="login-right-content-wrap">
                                <div class="login-right-content-inner">
                                    <img src="/static/img/images/login_img.png" alt="">
                                    <h4 class="title">Use / Deploy deep learning Model. Try <span>Cat.AI </span> and start your amazing journey</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- login-area-end -->

        </main>
        <!-- main-area-end -->

{% endblock %}